body {
    background: linear-gradient(45deg, rgb(190, 230, 255) 0%, rgb(255, 244, 182)100%);
}

header {
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: #a4edff;
    border-color: #83A0A0;
    border-style: solid;
    border-width: 3px;
}

header a {
    text-decoration: none;
    font-size: 18pt;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    transition: all 1s ease-in-out;
}

header a:hover {
    color: #76b100;
}

#logo {
    width: 10vw;
    height: 10vh;
}

/* formatação main */


.main-content {
    width: 80%;
    height: auto;
    margin-top: 10%;
    background-color: #83A0A0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 32px;
}

.main-content-section-bigimage {
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 64px;
}

.main-content-section-bigimage img {
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
    margin: 0 auto 5px;
}

.main-content-section-name h2 {
    font-size: 40pt;
    margin: -5px 0;
    border-radius: 0px 0px 8px 8px;


}

.main-content-section-bio-article {
    padding: 3% 2%;
    font-size: 22pt;
    margin-bottom: -40px;
}

.bio-specs {
    font-size: 22pt;

}

/* Configuração de um Semi-grid */
.bio-specs {
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: .25%;
}

.row-1-4 {
    padding: 2%;
    margin: auto;
    width: 24.80%;
    border: 5px solid #C2F261;
    border-radius: 8px;
}
@media screen and (max-width:390px  ){
    .ul-card{
        height: 400px;
        min-height: 400px;
    }
    #logo{
        display: none;
    }
    header a{
        font-size: 11pt;
    }
    header div:nth-child(2),
    header div:nth-child(3)
    header:nth-child(4){
        display: none;
    }
}